---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Attach
PointerAlignment: Right
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
---
Language: ObjC
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
ObjCSpaceAfterProperty: true
